.contact{
    padding: 10px 0;
    background-image: url(../img/coding.jpg);
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}
.contact-form{

    box-sizing: border-box;

    margin: 0 auto;
    padding: 20px;
}
.contact-form h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    color: var(--white);
    padding: 10px;
}

#form{
    margin: 10px;
    border-radius: 10px;
    background: var(--white);
    width: 55%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#form input{
    outline: none;
    border: none;
    border-radius:8px;
    box-shadow: 0 0 10px var(--black);
    padding: 10px;
}
#form label{
    margin-top: 20px;
}
